mixin CustomSelect(props)
    -
        const {optionDefault, options} = props || {}
    .select-dropdown.j-select-block
        div.select-dropdown__button.j-select-button(data-value='')
            span=optionDefault
        ul.select-dropdown__list.j-select-dropdown
            li.select-dropdown__list-item.j-select-option(data-value=optionDefault)=optionDefault
            each item in options
                li.select-dropdown__list-item.j-select-option(data-value=item.value)=item.name
