div.popup-block.j-popup-block
    .popup-block__actions
        .popup-block__button
            +SimpleButton("Login", 'j-example-popup-button', false,false, false)
    include components/loginPopup/LoginPopup
 
