div.popup-block.j-popup-block
    .popup-block__actions
        .popup-block__button
            +SimpleButton({text:"Login", jClass:'j-example-popup-button popup-block__button-login'})
    include components/loginPopup/LoginPopup
 
