div.popup-block.j-popup-block
    .popup-block__actions
        .popup-block__button
            +SimpleButton("Login", false, 'j-example-popup-button')
    include components/examplePopup/ExamplePopup
 
