-
    const sounds = [
        {
            id: 1,
            sound: 'Barroom_Ballet_Silent_Film_Light',
            name: 'Sound Name',
            time: '00:12',
            description: 'Confused excited crowd slight panic and distress',
            author: 'Shocking, jumpscare',
        },
        {
            id: 2,
            sound: 'bensound-funkyelement',
            name: 'Sound Name',
            time: '00:12',
            description: 'Confused excited crowd slight panic and distress',
            author: 'Shocking, jumpscare',
        },
        {
            id: 3,
            sound: 'Here_Come_The_Raindrops',
            name: 'Sound Name',
            time: '00:12',
            description: 'Confused excited crowd slight panic and distress',
            author: 'Shocking, jumpscare',
        },
        {
            id: 4,
            sound: 'nastorajyvaushaya-muzyka-3',
            name: 'Sound Name',
            time: '00:12',
            description: 'Confused excited crowd slight panic and distress',
            author: 'Shocking, jumpscare',
        },
        {
            id: 5,
            sound: 'To_the_Top',
            name: 'Sound Name',
            time: '00:12',
            description: 'Confused excited crowd slight panic and distress',
            author: 'Shocking, jumpscare',
        },
        {
            id: 6,
            sound: 'audio2',
            name: 'Sound Name',
            time: '00:12',
            description: 'Confused excited crowd slight panic and distress',
            author: 'Shocking, jumpscare',
        },

    ]
    const category = [
        {
            name: 'All',
            active: 'active'
        },
        {
            name: 'Jumpscare',
            active: ''
        },
        {
            name: 'Mellow',
            active: ''
        },
        {
            name: 'Happiness',
            active: ''
        },
        {
            name: 'Ambience',
            active: ''
        },
        {
            name: 'Zonk',
            active: ''
        },
    ]

block content