@import "components/index";
.sound-block {
  padding: 5rem 1.6rem;
  &__title {
    padding: 0;
    font-size: $mediumSizeFont;
    font-family: $primaryFont;
    font-weight: 600;
    line-height: 3rem; /* 150% */
    letter-spacing: -0.4px;
    margin-bottom: 1.4rem;
  }
  &__sort {
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  &__sort-names {
    width: 19.6rem;
    align-items: center;
    font-family: $interFont;
    font-size: $smallSizeFont;
    font-weight: 500;
    line-height: 138%; /* 19.32px */
    letter-spacing: -0.7px;
    font-feature-settings: 'salt' on, 'liga' off;
    display: flex;
    gap: 1.2rem;
  }
  &__filter {
    position: relative;
  }
  &__sounds {
    margin: 2rem 0;
  }
  &__slider {
    position: relative;
  }
  &__button {
    font-feature-settings: 'salt' on, 'liga' off;
    background: $cGrayLight;
    font-family: $interFont;
    font-size: $regularSizeFont;
    font-weight: 500;
    line-height: 138%; /* 22.08px */
    letter-spacing: -0.8px;
    color: $cDark;
    padding: 0.2rem;
  }
  &__button-text {
    font-family: $interFont;
    font-size: $regularSizeFont;
    font-weight: 500;
    line-height: 138%; /* 22.08px */
    letter-spacing: -0.8px;
    color: $cDark;
  }
  &__button-mobile {
    display: block;
  }
  &__button-desktop {
    display: none;
  }
  &__all-sound {
    margin-top: 2rem;
    color: $cBlue;
    font-feature-settings: 'salt' on, 'liga' off;
    font-size: $regularSizeFont;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: -0.14px;
    text-decoration-line: underline;
    &:hover {
      transition: ease-in-out .3s;
      color: $cBlueGray;
      cursor: pointer;
    }
  }
}
.sound {
  display: flex;
  align-items: flex-start;
  gap: 1.9rem;
  justify-content: space-between;
  border-bottom: 1px solid $cGrayLight;
  padding: 0.8rem 0.6rem;
  &:not(:first-child) {
    margin-top: 1.2rem;
  }
  &__play {
    cursor: pointer;
  }
  &__play-button {
    background-image: url("/src/images/icon/soud-controls/play-icon.svg");
    width: 3.8rem;
    height: 3.9rem;
    background-repeat: no-repeat;
  }
  &__name {
    width: 12.9rem;
    color: $cBlueDark;
    font-family: $interFont;
    font-size: $regularSizeFont;
    font-weight: 500;
    line-height: 138%; /* 22.08px */
    letter-spacing: -0.8px;
    font-feature-settings: 'salt' on, 'liga' off;
    margin: 0;
    max-height: 2.2rem;
    overflow: hidden;
  }
  &__time,
  &__description {
    margin-bottom: 0;
  }
  &__time{
    font-size: 1.2rem;
    color: $cDark;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: $interFont;
    font-weight: 400;
    line-height: 172%; /* 20.64px */
    letter-spacing: -0.6px;
  }
  &__description,
  &__author {
    display: none;
    color: $cDark;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: $interFont;
    width: 25rem;
    font-size: $smallSizeFont;
    font-weight: 500;
    line-height: 138%; /* 22.08px */
    letter-spacing: -0.8px;
    max-height: 4.4rem;
    overflow: hidden;
  }
  &__controls {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &__controls-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.6rem;
    transition: ease-in-out .3s;
    svg {
      transition: ease-in-out .3s;
      path {
        transition: ease-in-out .3s;
      }
      circle {
        transition: ease-in-out .3s;
      }
      rect {
        transition: ease-in-out .3s;
      }
    }
    &:hover {
      svg {
        fill: $cBlue;
        path {
          stroke: $cBlue;
          fill: $cBlue;
        }
        circle {
          fill: $cBlue;
        }
        rect {
          fill: $cBlue;
        }
      }
    }
  }
  &__controls-icon-like {
    display: none;
  }
}

._selected {
  svg {
    fill: $cBlue;
    path {
      stroke: $cBlue;
    }
  }
}
.pause-active {
  background-image: url("/src/images/icon/soud-controls/pause-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 3.9rem;
  height: 3.9rem;
}
.swiper-slide{
  width: auto;
}
.sort-name {
  margin-bottom: 0;
  font-weight: 500;
  line-height: 138%; /* 19.32px */
  letter-spacing: -0.7px;
  font-family: $interFont;
  font-size: $smallSizeFont;
  cursor: pointer;
  &:nth-child(n + 4) {
    display: none;
  }
  &--active {
    border-bottom: 1px solid $cBlueDark;
    padding: 0.5rem;
  }
}
.sound-block-filter {
  &__button--desktop {
    display: none;
  }
  &__button--mobile {
    display: block;
  }
}
@include minMediaTablet {
 .sound-block {
   padding: 9.9rem 6.7rem;
   &__button {
     padding: 0.2rem 0.6rem 0.2rem 1.2rem;
   }
   &__sort {
     align-items: flex-start;
   }
   &__sort-names {
     gap: 2.8rem;
     margin: 1rem 0.35rem;
     width: 45.3rem;
   }
 }
  .sound {
    &__author {
      display: block;
    }
    &__controls-icon-like {
      display: flex;
    }
  }
  .sort-name {
    margin-bottom: 0;
    font-weight: 500;
    line-height: 138%;
    letter-spacing: -0.7px;
    font-size: $smallSizeFont;
    &:nth-child(n) {
      display: block;
    }
  }
  .sound-block-filter {
    &__button--desktop {
      display: block;
    }
    &__button--mobile {
      display: none;
    }
  }
}
@include minMediaDesktop {
  .sound-block {
    padding: 9.9rem 10rem;
    &__title {
      padding: 0;
      font-size: $xlSizeFont;
      font-weight: 600;
      line-height: 4.5rem; /* 160.714% */
      letter-spacing: -0.56px;
      margin-bottom: 1.4rem;
    }
    &__sort {
      justify-content: space-between;
    }
    &__sort-names {
      margin: 1rem 0.35rem;
      width: 100%;
    }
    &__button {
      font-size: $regularSizeFont;
      font-weight: 500;
      line-height: 138%;
      letter-spacing: -0.8px;
      padding: 0.2rem 1.4rem 0.2rem 2rem;
      width: 13.2rem;
    }
    &__button-mobile {
      display: none;
    }
    &__button-desktop {
      display: block;
    }
    &__all-sound {
      margin-top: 2rem;
      font-size: $smallSizeFont;
      font-weight: 600;
      line-height: 2.4rem;
      letter-spacing: -0.14px;
    }
  }
  .sound {
    align-items: center;
    gap: 4.7rem;
    border-bottom: 1px solid $cGrayLight;
    padding: 0 2rem 1rem;
    &:not(:first-child) {
      margin-top: 1.2rem;
    }
    &__play-button {
      width: 3.4rem;
      height: 3.4rem;
    }
    &__name {
      width: 18.9rem;
      font-size: $regularSizeFont;
      font-weight: 500;
      line-height: 138%; /* 22.08px */
      letter-spacing: -0.8px;
      margin: 0;
    }
    &__time,
    &__description {
      margin-bottom: 0;
    }
    &__time{
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 172%; /* 20.64px */
      letter-spacing: -0.6px;
    }
    &__description,
    &__author {
      display: block;
      width: 25rem;
      font-size: $regularSizeFont;
      font-weight: 500;
      line-height: 138%; /* 22.08px */
      letter-spacing: -0.8px;
    }
    &__controls {
      gap: 2rem;
    }
    &__controls-icon-like {
      display: flex;
    }
  }
  .sort-name {
    &--active {
      border-bottom: 1px solid $cBlueDark;
      padding: 0.5rem;
    }
  }
  .pause-active {
    width: 3.4rem;
    height: 3.4rem;
  }
}