-
    const filterOption = [
        {
            value: 1,
            name: 'Pop'
        },
        {
            value: 2,
            name: 'Classic'
        },
        {
            value: 3,
            name: 'Games'
        },
        {
            value: 4,
            name: 'Forest'
        },
        {
            value: 5,
            name: 'Snow'
        },
        {
            value: 6,
            name: 'Car'
        },

    ]

block content