.filter {
  z-index: 3;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $cGrayLight;
  border-radius: 8px;
  width: 32.8rem;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 2rem;
  }
  &__header-title {
    font-feature-settings: 'salt' on, 'liga' off;
    color: $cDark;
    font-family: $interFont;
    font-size: $regularSizeFont;
    font-weight: 600;
    line-height: 138%;
    margin-bottom: 0;
  }
  &__wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 2rem 2rem 2rem;
  }
  &__slider {
    font-family: $interFont;
    font-size: $smallSizeFont;
    font-feature-settings: 'salt' on, 'liga' off;
    font-weight: 400;
    line-height: 172%;
    color: $cDark;
    width: 100%;
    position: relative;
  }
  &__select {
    margin-bottom: 2.4rem;
  }
  &__close {
    font-size: 2rem;
    cursor: pointer;
    color: $cGray;
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 4.8rem;
  }
  &__button-custom {
    font-size: $smallSizeFont;
    width: 8rem;
  }
}
.filter._open {
  display: block;
  transition: 0.3s ease-in-out;
}
.filter-slider{
  &__title {
    margin-bottom: 3rem;
  }
}
@include minMediaTablet {
  .filter {
    width: 28.8rem;
  }
}