mixin imageTrusted(obj)
    article.main-example-item.j-example-item
        h5.main-example-item__title=obj.title
            img.main-example-item__paint.j-example-picture(src=obj.img.src alt=obj.img.alt)
