div.tariff-block
    div.container
        div.tariff-block__wrapper
            h3.tariff-block__title Download sound effects for your project
            p.tariff-block__subtitle Find the right plan for you
            div.tariff-block__cards
                div.tariff-block__card.tariff-block__card--border
                    div
                        p.card__title Basic
                        p.card__description Download any royalty-free sound effects
                    div
                        p.card__tariff Free
                        +SimpleButton('Get Started', 'tariff-block__button--border')
                div.tariff-block__card.tariff-block__card--filled
                    div
                        p.card__title Premium
                        p.card__description Download premium sound effects and use them for any business purpose
                    div
                        p.card__tariff Start from $12/month
                        +SimpleButton('Get Started', 'tariff-block__button--filled')
            p.tariff-block__text Join premium with 434,849 creators.

