block variables
.popup.j-popup(class=JClass)
    .popup__content
        .popup__header
            h3.popup__title=titleOfPopup
            button.popup__close.j-popup-close &#10006;
        .popup__body
            block content
