// ----------FONTS
$primaryFont: 'Poppins', sans-serif;
$interFont: 'Inter', sans-serif;
// ----------FONTS-SIZES
$smallSizeFont: 1.4rem;
$regularSizeFont: 1.6rem;
$mediumSizeFont: 2rem;
$xlSizeFont: 2.8rem;
$xxlSizeFont: 3.6rem;
// ----------BREAKPOINTS
$mobileBreakpoint: 360;
$tabletBreakpoint: 768;
$desktopBreakpoint: 1024;
$mediumDesktopBreakpoint: 1244;
$wideDesktopBreakpoint: 1920;

$mediaTablet: '(min-width: #{ $tabletBreakpoint })';
$mediaDesktop: '(min-width: #{ $desktopBreakpoint })';
$mediaMediumDesktop: '(min-width: #{ $mediumDesktopBreakpoint}';
$mediaWideDesktop: '(min-width: #{ $wideDesktopBreakpoint })';

// ----------COLORS
$cWhite: #ffffff;
$cRed: #ff2400;
$cBlue: #0432DF;
$cBlueLight: #CDD6F9;
$cBlueDark: #020D37;
$cYellow: #F59E00;
$cGray: #ACAFB8;
$cDark: #4C526A;
$cGrayLight: #EEE;


// ----------SIZES
$headerHeight: 6.5rem;
$footerHeight: 2.5rem;