-
  const titleTrusted = 'Trusted by top Youtuber and Production House'
  const imageTrusted = [
    {
      img: {
        src: 'dudeperfect1.png',
        alt: 'example image'
      }
    },
    {
      img: {
        src: 'Pewdiepie-logo1.png',
        alt: 'example image'
      }
    },
    {
      img: {
        src: 'MrBeast1.png',
        alt: 'example image'
      }
    },
    {
      img: {
        src: 'wbcomp.png',
        alt: 'example image'
      }
    },
    {
      img: {
        src: 'netflix1.png',
        alt: 'example image'
      }
    },
    {
      img: {
        src: 'pixar-removebg-preview1.png',
        alt: 'example image'
      }
    },
    {
      img: {
        src: 'channels4_profile1.png',
        alt: 'example image'
      }
    }

  ]

block content