-
  const titleTrusted = 'Trusted by top Youtuber and Production House'
  const imageTrusted = [
    {
      img: {
        src: 'dudeperfect1.webp',
        alt: 'example image'
      }
    },
    {
      img: {
        src: 'Pewdiepie-logo1.webp',
        alt: 'example image'
      }
    },
    {
      img: {
        src: 'MrBeast1.webp',
        alt: 'example image'
      }
    },
    {
      img: {
        src: 'wbcomp.webp',
        alt: 'example image'
      }
    },
    {
      img: {
        src: 'netflix1.webp',
        alt: 'example image'
      }
    },
    {
      img: {
        src: 'pixar-removebg-preview1.webp',
        alt: 'example image'
      }
    },
    {
      img: {
        src: 'channels4_profile1.webp',
        alt: 'example image'
      }
    }

  ]

block content