-
    const titleTrusted = 'Trusted by top Youtuber and Production House'
    const imageTrusted = [
        {
            img: {
                src: '/src/images/trusted/dudeperfect1.png',
                alt: 'example image',
            }
        },
        {
            img: {
                src: '/src/images/trusted/Pewdiepie-logo1.png',
                alt: 'example image',
            }
        },
        {
            img: {
                src: '/src/images/trusted/MrBeast1.png',
                alt: 'example image',
            }
        },
        {
            img: {
                src: '/src/images/trusted/wbcomp.png',
                alt: 'example image',
            }
        },
        {
            img: {
                src: '/src/images/trusted/netflix1.png',
                alt: 'example image',
            }
        },
        {
            img: {
                src: '/src/images/trusted/pixar-removebg-preview1.png',
                alt: 'example image',
            }
        },
        {
            img: {
                src: '/src/images/trusted/channels4_profile1.png',
                alt: 'example image',
            }
        },

    ]

block content
