extends constants
include components/index
block content
    div.trusted-block
        div.container
            h3.trusted-block__title Trusted by top Youtuber and Production House
            div.trusted-block__images
                img.trusted-block__image(src='/src/images/trusted/dudeperfect1.png', alt='image')
                img.trusted-block__image(src='/src/images/trusted/Pewdiepie-logo1.png', alt='image')
                img.trusted-block__image(src='/src/images/trusted/MrBeast1.png', alt='image')
                img.trusted-block__image(src='/src/images/trusted/wbcomp.png', alt='image')
                img.trusted-block__image(src='/src/images/trusted/netflix1.png', alt='image')
                img.trusted-block__image(src='/src/images/trusted/pixar-removebg-preview1.png', alt='image')
                img.trusted-block__image(src='/src/images/trusted/channels4_profile1.png', alt='image')


