extends  ../../layout/layout
include  ../../components/index

block variables
  -
    let title = 'Sounds-Effect-Library'
block content
  .main-content
    include modules/mainBlock/MainBlock
    include modules/trustedBlock/TrustedBlock
    include modules/soundBlock/SoundBlock
    include modules/categoryBlock/CategoryBlock
    include modules/whyUsBlock/WhyUsBlock
    include modules/tariffBlock/TariffBlock
    include modules/ReviewsBlock/ReviewsBlock