extends  ../../layout/layout
include  ../../components/index

block variables
  -
    let title = 'Sounds-Effect-Library'
block content
  .main-content
    include modules/mainBlock/mainBlock
    include modules/trustedBlock/trustedBlock
    include modules/soundBlock/soundBlock
    include modules/categoryBlock/categoryBlock
    include modules/whyUsBlock/whyUsBlock