extends  ../../layout/layout
include  ../../components/index

block variables
  -
    let title = 'Welcome to Start Template'
block content
  .main-content
    .main-content__example
      include modules/mainExample/MainExample
    .main-content__popup-block
      include modules/popupBlock/PopupBlock
