-
    const mainTitle = 'This is main example block title'
    const exampleItems = [
        {
            title: 'Example of image:',
            img: {
                src: '/src/images/pictures/example.jpg',
                alt: 'example image',
            }
        },
        {
            title: 'Example of button component usage:',
            button: {
                label: 'Go to About page',
                href: '/about.html',
            }
        },
        {
            title: 'Example of javascript code:',
            button: {
                label: 'Change border',
                jClass: 'j-example-button',
            },
            img: {
                src: '/src/images/paints/giraffe.svg',
                alt: 'example paint',
            }
        },
    ]

block content
