@import "components/index";

.main-block {
  position: relative;
  &__image {
    width: 100vw;
    z-index: 1;
  }
  &__information {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    font-family: $primaryFont;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.information {
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-feature-settings: 'salt' on, 'liga' off;
    font-size: $xxlSizeFont;
    color: $cWhite;
    font-weight: 700;
    line-height: 146.5%;
    margin-bottom: 1.6rem;
  }
  &__subtitle {
    font-feature-settings: 'salt' on, 'liga' off;
    font-size: $mediumSizeFont;
    color: $cGray;
    font-weight: 500;
    line-height: 170%; /* 34px */
    letter-spacing: -1px;
  }
  &__form {
    width: 60rem;
    margin-top: 5.1rem;
  }
  &__form-input {
    position: relative;
    input {
      padding: 1.6rem 2rem 1.6rem 5.4rem;
      width: 100%;
      box-sizing: border-box;
      border-radius: 0.8rem;
      color: $cGray;
      font-size: $regularSizeFont;
      margin-bottom: 1rem;
      &::placeholder {
        color: $cGray;
        font-size: $regularSizeFont;
      }
    }
  }
  &__form-span {
    font-size: $smallSizeFont;
    color: $cWhite;
  }
  &__subtext {
    font-size: $smallSizeFont;
    color: $cWhite;
  }
}
.form-input {
  &__icon {
    position: absolute;
    top: 1.2rem;
    left: 1.6rem;
  }
}