-
    const advantages = [
        {
            title: '1.203.322 Customer satisfied',
            description: 'We\'ve helped more than 1 million customers find best sound effects',
            icon: 'icon-primary'
        },
        {
            title: '650.654 Sounds',
            description: 'More than 600 thousand high quality to download. Still counting',
            icon: 'icon-cloud'
        },
        {
            title: 'Royalty-free',
            description: 'Just download and use the sound for your videos without royalty',
            icon: 'icon-free'
        },
        {
            title: 'Provide proper sounds',
            description: 'We just provide sounds with the best quality  for customers',
            icon: 'icon-customer'
        },
    ]

block content