@import "components/index";

.why-us-block {
  padding: 4rem 1.6rem;
  display: flex;
  gap: 4.5rem;
  flex-direction: column;
  align-items: center;
  &__information {
    width: 33.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: $cYellow;
    font-size: $smallSizeFont;
    font-family: $primaryFont;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.4rem;
    margin-bottom: 1.7rem;
    font-feature-settings: 'salt' on, 'liga' off;
    overflow: hidden;
    max-height: 9.8rem;
  }
  &__description {
    font-family: $primaryFont;
    font-size: $mediumSizeFont;
    font-weight: 600;
    line-height: 3rem; /* 150% */
    letter-spacing: -0.4px;
    font-feature-settings: 'salt' on, 'liga' off;
    width: 26.5rem;
    margin: 0;
    text-align: center;
    max-height: 13.5rem;
    overflow: hidden;

  }
}
.advantages {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  &__item {
    width: 24.8rem;
  }
  &__image {
    margin-bottom: 1.1rem;
  }
  &__title {
    font-family: $interFont;
    font-size: $regularSizeFont;
    font-weight: 600;
    line-height: 172%;
    font-feature-settings: 'salt' on, 'liga' off;
    margin-bottom: 0;
    overflow: hidden;
    max-height: 10rem;
  }
  &__description {
    font-family: $interFont;
    font-size: $smallSizeFont;
    font-weight: 500;
    line-height: 172%;
    max-height: 4.8rem;
    overflow: hidden;
  }
}
@include  minMediaTablet {
  .why-us-block {
    padding: 4rem 1.6rem;
    &__description {
      font-weight: 600;
      line-height: 160%; /* 38.4px */
      letter-spacing: -0.48px;
      font-size: 2.4rem;
      width: 46.6rem;
    }
  }
  .advantages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 11rem;
  }
}
@include minMediaDesktop {
  .why-us-block {
    padding: 4rem 10rem 8.4rem;
    align-items: flex-start;
    &__information {
      align-items: flex-start;
    }
    &__title {
      text-align: left;
    }
    &__description {
      font-size: $xlSizeFont;
      line-height: 4.5rem;
      width: 33.7rem;
      margin: 0;
      text-align: left;
    }
  }
  .advantages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;
    grid-column-gap: 11rem;

  }

}
@include minMediumMaxDesktop {
  .why-us-block {
    flex-direction: row;
  }
}