div.container.why-us-block
    div.why-us-block__information
        p.why-us-block__title WHY uS?
        p.why-us-block__description We are provide the best quality sound effects without copyright.
    div.why-us-block__advantages
        div.advantages__item
            img.advantages__image(src='/src/images/icon/advantages/icon-primary.svg')
            p.advantages__title 1.203.322 Customer satisfied
            p.advantages__description We've helped more than 1 million customers find best sound effects
        div.advantages__item
            img.advantages__image(src='/src/images/icon/advantages/icon-primary.svg')
            p.advantages__title 1.203.322 Customer satisfied
            p.advantages__description We've helped more than 1 million customers find best sound effects
        div.advantages__item
            img.advantages__image(src='/src/images/icon/advantages/icon-primary.svg')
            p.advantages__title 1.203.322 Customer satisfied
            p.advantages__description We've helped more than 1 million customers find best sound effects
        div.advantages__item
            img.advantages__image(src='/src/images/icon/advantages/icon-primary.svg')
            p.advantages__title 1.203.322 Customer satisfied
            p.advantages__description We've helped more than 1 million customers find best sound effects
