extends constants
block content
    div.container.why-us-block
        div.why-us-block__information
            p.why-us-block__title WHY uS?
            p.why-us-block__description We are provide the best quality sound effects without copyright.
        div.advantages
            each item in advantages
                div.advantages__item
                    img.advantages__image(src=`/src/images/icon/advantages/${item.icon}.svg`, alt=item.icon)
                    p.advantages__title=item.title
                    p.advantages__description=item.description
