div.category-block.container
    h3.category-block__title Browse by category
    div.category-block__images-list
        div.images-list__item
            img.item__image(src='/src/images/category/category1.jpg')
            p.item__text Text
        div.images-list__item
            img.item__image(src='/src/images/category/category1.jpg')
            p.item__text Text
        div.images-list__item
            img.item__image(src='/src/images/category/category1.jpg')
            p.item__text Text
        div.images-list__item
            img.item__image(src='/src/images/category/category1.jpg')
            p.item__text Text
        div.images-list__item
            img.item__image(src='/src/images/category/category1.jpg')
            p.item__text Text
        div.images-list__item
            img.item__image(src='/src/images/category/category1.jpg')
            p.item__text Text
        div.images-list__item
            img.item__image(src='/src/images/category/category1.jpg')
            p.item__text Text
        div.images-list__item
            img.item__image(src='/src/images/category/category1.jpg')
            p.item__text Text
        div.images-list__item
            img.item__image(src='/src/images/category/category1.jpg')
            p.item__text Text
        div.images-list__item
            img.item__image(src='/src/images/category/category1.jpg')
            p.item__text Text
        div.images-list__item
            img.item__image(src='/src/images/category/category1.jpg')
            p.item__text Text
    p See all category