extends constants

block content
    div.category-block.container
        h3.category-block__title Browse by category
        div.images-list
            each item in images
                div.item-list
                    img.item-list__image(src=`/src/images/category/${item.image}`, alt=item.text)
                    p.item-list__text=item.text
        a.category-block__subtext See all category