-
  const images = [
    {
      image: 'category1.webp',
      text: 'Musical'
    },
    {
      image: 'category2.webp',
      text: 'Industrial'
    },
    {
      image: 'move-category.webp',
      text: 'Move Sound'
    },
    {
      image: 'animal.webp',
      text: 'Animal'
    },
    {
      image: 'people-category.webp',
      text: 'People'
    },
    {
      image: 'car-category.webp',
      text: 'Vehicles'
    },
    {
      image: 'sound-category.webp',
      text: 'Sound Design'
    },
    {
      image: 'emergancy-category.webp',
      text: 'Emergency'
    },
    {
      image: 'bell-category.webp',
      text: 'Bell'
    },
    {
      image: 'nature-category.webp',
      text: 'Nature'
    },
    {
      image: 'carton-category.webp',
      text: 'Cartoon'
    },
    {
      image: 'horror-category.webp',
      text: 'Horror'
    }

  ]

block content