div.reviews-block
    div.container
        div.reviews-block__wrapper
            h3.reviews-block__title TESTIMONIALS
            p.reviews-block__subtitle Hear good experiences from our customers
            div.reviews-block__swiper
                div.swiper.reviews-block__my-swiper
                    div.swiper-wrapper
                        div.swiper-slide
                            div.reviews-block__slide
                                img(src='/src/images/icon/double-quotes.svg')
                                p.slide__text The sounds from WavesCo is great and it really helps our team to save time and production costs.
                                img.slide__image(src='/src/images/reviews/user-one.jpg')
                                p.slide__username Anne Joyce
                                p.slide__role Video editor at Dude Perfect
                        div.swiper-slide
                            div.reviews-block__slide
                                img(src='/src/images/icon/double-quotes.svg')
                                p.slide__text The sounds from WavesCo is great and it really helps our team to save time and production costs.
                                img.slide__image(src='/src/images/reviews/user-two.jpg')
                                p.slide__username Anne Joyce
                                p.slide__role Video editor at Dude Perfect
                        div.swiper-slide
                            div.reviews-block__slide
                                img(src='/src/images/icon/double-quotes.svg')
                                p.slide__text The sounds from WavesCo is great and it really helps our team to save time and production costs.
                                img.slide__image(src='/src/images/reviews/user-three.jpg')
                                p.slide__username Anne Joyce
                                p.slide__role Video editor at Dude Perfect
                        div.swiper-slide
                            div.reviews-block__slide
                                img(src='/src/images/icon/double-quotes.svg')
                                p.slide__text The sounds from WavesCo is great and it really helps our team to save time and production costs.
                                img.slide__image(src='/src/images/reviews/user-one.jpg')
                                p.slide__username Anne Joyce
                                p.slide__role Video editor at Dude Perfect
                        div.swiper-slide
                            div.reviews-block__slide
                                img(src='/src/images/icon/double-quotes.svg')
                                p.slide__text The sounds from WavesCo is great and it really helps our team to save time and production costs.
                                img.slide__image(src='/src/images/reviews/user-two.jpg')
                                p.slide__username Anne Joyce
                                p.slide__role Video editor at Dude Perfect
                    div.swiper-pagination


