-
    const navigation = [
        {
            name: 'Home',
            url: '#'
        },
        {
            name: 'Best for Youtube',
            url: '#'
        },
        {
            name: 'Category',
            url: '#'
        },
        {
            name: 'Upgrade',
            url: '#'
        },
        {
            name: 'FAQ',
            url: '#'
        },
    ]
block content