-
    const navigation = [
        {
            name: 'Home',
            url: '/mock-address/change-me'
        },
        {
            name: 'Best for Youtube',
            url: '/mock-address/change-me'
        },
        {
            name: 'Category',
            url: '/mock-address/change-me'
        },
        {
            name: 'Upgrade',
            url: '/mock-address/change-me'
        },
        {
            name: 'FAQ',
            url: '/mock-address/change-me'
        },
    ]
block content