.header {
  align-items: center;
  padding: 2rem 0;
  position: fixed;
  width: 100vw;
  left: 0;
  z-index: 10;
  border-bottom: 0.1rem solid $cWhite;
  top:0;
  transition: ease-in-out 0.1s;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;
  }
  &__navigation {
    display: flex;
    align-items: center;
    gap: 5.2rem;
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 3.9rem;
    color: $cWhite;
  }
  &__button {
    display: block;
  }
}
.menu {
  &__item {
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: $primaryFont;
    font-size: $smallSizeFont;
    font-weight: 500;
    line-height: 2.4rem; /* 171.429% */
    letter-spacing: -0.1px;
    padding: 0;
    margin-bottom: 0;
    opacity: 0.6;
    &:hover {
      cursor: pointer;
      color: $cWhite;
      opacity: 1;
    }
  }
  &__item--active {
    opacity: 1;
  }
}
.header._scroll {
  background: $cBlueDark;
  border-bottom: 0;
  top: 0;
}
