-
    menu = [
        {
            title: 'Product',
            submenu: [
                {
                    name: 'Browse sounds',
                    url: '#'
                },
                {
                    name: 'Pricing',
                    url: '#'
                },
                {
                    name: 'FAQ',
                    url: '#'
                },
                {
                    name: 'Affiliate',
                    url: '#'
                },
            ]
        },
        {
            title: 'Company',
            submenu: [
                {
                    name: 'Blog',
                    url: '#'
                },
                {
                    name: 'About us',
                    url: '#'
                },
                {
                    name: 'Help',
                    url: '#'
                },
                {
                    name: 'Career',
                    url: '#'
                },
            ]
        },
        {
            title: 'Social Media',
            submenu: [
                {
                    name: 'Twitter',
                    url: '#'
                },
                {
                    name: 'Instagram',
                    url: '#'
                },
                {
                    name: 'YouTube',
                    url: '#'
                },
                {
                    name: 'Facebook',
                    url: '#'
                },
            ]
        },
    ]
block content