footer.footer
    .footer__info
        img(src='/src/images/pictures/logo-nav.svg' alt='logo')
        p.info__text WavesCo is a platform for providing premium sound effects for Youtube videos, movies and many more.
        p.info__text WavesCo &copy;2021, All rights reserved
    .footer__navigation
        .footer__menu
            .menu__item
                h3.menu__title Product
                a.menu__url url adress
            .menu__item
                h3.menu__title Company
                a.menu__url url adress
            .menu__item
                h3.menu__title Social Media
                a.menu__url url adress