extends constants
block content
    footer.footer
        div.container
            div.footer__wrapper
                div.info
                    a(href='/')
                        img.info__image(src='/src/images/pictures/logo-nav.svg' alt='logo')
                    p.info__text WavesCo is a platform for providing premium sound effects for Youtube videos, movies and many more.
                    p.info__text WavesCo &copy;2021, All rights reserved
                .footer__navigation
                    .footer-menu
                        each item in menu
                            .footer-menu__item
                                h3.footer-menu__title=item.title
                                each submenu in item.submenu
                                    a.footer-menu__url(href=submenu.url)=submenu.name
