.footer {
  background-color: $cBlueDark;
  width: 100vw;
  padding: 5rem 1.6rem;
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  &__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 6.6rem;
  }
  &__info {
    margin-bottom: 3.4rem;
    width: 29.8rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}
.info {
  &__image {
    width: 17rem;
    height: 2.5rem;
  }
  &__text {

    color: $cGray;
    font-family: $interFont;
    font-size: $regularSizeFont;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
    letter-spacing: -0.8px;
    width: 27.8rem;
    margin-bottom: 0;
  }
}

  .footer-menu {
    &__title {
      font-feature-settings: 'salt' on, 'liga' off;
      color: $cWhite;
      font-family: $interFont;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: 172%; /* 30.96px */
      letter-spacing: -0.9px;
      margin-bottom: 0;
    }
    &__url {
      font-feature-settings: 'salt' on, 'liga' off;
      color: $cGray;
      font-family: $interFont;
      font-size: $regularSizeFont;
      font-style: normal;
      font-weight: 400;
      line-height: 180%; /* 28.8px */
      letter-spacing: -0.8px;
      margin-bottom: 0;
      &:hover {
        color: $cWhite;
        cursor: pointer;
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      gap: 1.2rem
    }
  }
@include minMediaTablet {
  .footer {
    padding: 4rem 6.7rem;
    &__menu {
      gap: 15.2rem;
    }
  }
}
@include minMediaDesktop {
  .footer {
    &__wrapper {
      padding: 5rem 10rem;
      flex-direction: row;
    }
  }
}