.simple-select {
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  border: 0.1rem solid $cGray;
  width: 100%;
  font-size: $smallSizeFont;
  font-family: $interFont;
  font-feature-settings: 'salt' on, 'liga' off;
  font-weight: 600;
  line-height: 172%;
  color: $cBlue;
  &__option {
    color: $cDark;
  }
}