mixin Auth(props)
    -
        const { buttonClass, cClass } = props || {}
    div.login(class=cClass)
        div.login__header.close-icon.j-popup-close.j-close-menu
            include ../../images/icon/icon-close.svg
        h3.login__title Login
        div.login__social
            img(src='/src/images/icon/google-icon.svg', alt='google-icon')
            img(src='/src/images/icon/facebook-icon.svg', alt='facebook-icon')
            img(src='/src/images/icon/twitter-icon.svg', alt='twitter-icon')
        div.login__form
            p.login__text or use your email
            form.form
                div.form__input
                    +SimpleInput({
                        label:'Email',
                        placeholder:'Email',
                        valueText:'email@mail.ru',
                        type: 'text',
                        iconName: '',
                        error: 'error',
                        errorText:'Incorrect E-Mail Address'
                    })
                    +SimpleInput({label:'Password', placeholder:'Password', type:'password'})
                div.form__checkbox
                    +SimpleCheckbox('Remember Me', 'checkbox--bg')
        +SimpleButton({
            text: 'Login',
            jClass: buttonClass
        })
        a.login__sign(href='/mock-address/change-me') Or Sign Up
        a.login__reset-password(href='/mock-address/change-me') Forgot password?