mixin Auth(buttonClass, cClass)
    div.login(class=cClass)
        div.login__header.j-popup-close.j-close-menu
            include ../../images/icon/icon-close.svg
        h3.login__title Login
        div.login__social
            img(src='/src/images/icon/google-icon.svg')
            img(src='/src/images/icon/facebook-icon.svg')
            img(src='/src/images/icon/twitter-icon.svg')
        p.login__text or use your email
        form.login__form
            div.form__input
                +SimpleInput('Email','Email', 'text', false,false, 'error', 'Incorrect E-Mail Address')
                +SimpleInput('Password','Password','password')
            div.form__checkbox
                +SimpleCheckbox('Remember Me')
        +SimpleButton('Login', buttonClass)
        a.login__sign Or Sign Up
        a.login__reset-password Forgot password?